<style>
a {
   color: #fff important!;
}

</style>
<h1>Welcome</h1>
<% if logged_in? %>
   <h1>To Favebus, <%= current_rider.username %></h1>
   <h2>What would you like to do today? </h2>
    <ul><li style="color: #fff;"><%=link_to "See My Upcoming Buses", rider_path(current_rider)%></li>
    <li><%=link_to "Track Bus Stop", new_rider_route_path%></li>
    <li><%=link_to "See Bus List",bus_routes_path%></li>
     </ul>
<%end%>
 <%= button_to "Delete account", rider_path(current_rider), method: :delete %>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/riders/new',method: :get %>
