<style>

body {
   background-color: #fff;
   color: #000 !important; 
   text-align: center;
}

ul {
   list-style: none;
}

a {
   line-height: 2em;
}
</style>
<% if logged_in? %>
<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <h2 class="display-6">To Favebus, <%= current_rider.username %></h1>
   <h2>What would you like to do today? </h2>
     <hr class="my-4">
     <div class="list-group">
    <ul><li><%=link_to "See My Upcoming Buses", rider_path(current_rider), :class => 'list-group-item list-group-item-action'%></li>
    <li><%=link_to "Track Bus Stop", new_rider_route_path, :class => 'list-group-item list-group-item-action'%></li>
    <li><%=link_to "Check Bus Stop Traffic", new_station_path, :class => 'list-group-item list-group-item-action'%></li>
    <li><%=link_to "Bus Tracking List", rider_routes_path, :class => 'list-group-item list-group-item-action'%></li>
    <li><%=link_to "Edit Account", edit_rider_path(current_rider.id), :class => 'list-group-item list-group-item-action'%></li>
    <li><%=link_to "Delete Account", rider_path(current_rider.id), method: :delete, :class => 'list-group-item list-group-item-action'%></li>
     </ul>
     </div>
</div>
<%end%>
 

    <%# <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> %>


<% if !logged_in? %>
<div class=".text-center" style="margin-top: 30vh;">
<%= button_to "Login", '/login', method: :get ,  :class => "btn btn-primary"%>
<%= button_to "Sign Up", '/riders/new',method: :get, :class => "btn btn-primary" %>
</div>
<% end %>
