<h1>Sign Up to Start Tracking</h1>
<%= form_for @rider do |f| %>
<%= f.label :name%><br>
<%= f.text_field :name %><br>
<%= f.label :username%><br>
<%= f.text_field :username%><br>
<%= f.label :password%><br>
<%= f.password_field :password%><br>
<%= f.submit "Create New Account" %>
<% end %>
<%= link_to 'Back', welcome_path, :class => "btn btn-primary btn-sm" %>
