<h1><%=@rider.name%>'s Page</h1>
<h2 style="text-align: center">Bus Arrival Information</h2>
<div>
<table style="text-align:center, border: 2px solid black; margin:0 auto; font-size:1.2em;">
<th>Stop</th>
<th>Route</th>
<th> Arrival Time</th>
<th>Distance</th>
<th>Destination</th>
<th>Distance in stops</th>
<th>Last Update</th>
</tr>
<% @bus_arrival.each do |bus_info|%>
<tr>
<td style="text-align:center"><%= bus_info[:name]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][0]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][1]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][2]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][3]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][4]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][5]%></td>
</tr>
<br>
</table>
<div>
<% end %>
<%= button_to "Delete account", rider_path(@rider), method: :delete %>

 