<h1><%=@rider.name%>'s Page</h1>

<h2>Bus Arrival Information</h2>
<div>
<table class="table table-hover table-dark">
  <thead>
<th scope="col">My Stop</th>
<th scope="col">Route</th>
<th scope="col">ETA</th>
<th scope="col">Distance</th>
<th scope="col">Destination</th>
<th scope="col">Stops Away</th>
<th scope="col">Updated</th>
</tr>
</thead>
<tbody>
<% @bus_arrival.each do |bus_info|%>
<tr>
<td style="text-align:center"><%= bus_info[:name]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][0]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][1]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][2]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][3]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][4]%></td>
<td style="text-align:center"><%= bus_info[:bus_arrival_data][5]%></td>
</tr>
<% end %>
<tbody>
</table>

<%= link_to "Get Latest Info", rider_path(@rider)%>

<%= button_to "Delete account", rider_path(@rider), method: :delete %>

 