<%@bus_routes.each do |route| %>
<table style="width:100% ; text-align:center;">
<tr style="border: 2px solid white;">
<th>Route</th>
<th>Bus Arrival Time</th>
<th>Bus Distance</th>
<th>Bus Destination</th>
<th>Bus Distance in stops</th>
<th>Info Last Updated</th>
</tr>
<td><%= route.route %></td>
<td><%= route.arrival_time %></td>
<td><%= route.bus_distance %></td>
<td><%= route.destination_name %></td>
<td><%= route.dispace_by_stops %></td>
<td><%= route.last_update %></td>
<% end  %>

 <%# Need to limite responses to 6 as all data only shows for
 upcomign 6 buses  %>

