<h1>Bus: <%= @bus_route%></h1>
<%= dt = @bus_route.fetch_bus_status%>
<div><%= @bus_route.route %></div>
<div><%= @bus_route.arrival_time %></div>
<div><%= @bus_route.bus_distance %></div>
<div><%= @bus_route.destination_name %></div>
<div><%= @bus_route.dispace_by_stops %></div>
<div><%= @bus_route.last_update %></div>